@use "/src/sass/abstract/colors" as *;

// ADD TO BASKET ICON BUTTON
button.mantine-Button-root.add-to-basket-icon-button {
  background-color: $red;
  color: $white-elements;
  font-weight: bold;
  font-size: 1.1rem;
  width: 200px;
  height: 50px;
  padding: 0.2rem 1rem;
  border-radius: 0.8rem;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;

  &:hover {
    opacity: 0.95;
  }
  img {
    filter: brightness(0) invert(1);
  }
}

// SEE REVIEWS ICON BUTTON
button.mantine-Button-root.see-reviews-icon-button {
  background-color: $magenta;
  color: $white-elements;
  font-weight: bold;
  font-size: 1.1rem;
  width: 200px;
  height: 50px;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;

  &:hover {
    opacity: 0.95;
  }
}

// FILTER ICON BUTTON
button.mantine-Button-root.filter-icon-button {
  background-color: $red;
  color: $white-elements;
  font-weight: bold;
  font-size: 1.1rem;
  width: 200px;
  height: 50px;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;

  &:hover {
    opacity: 0.95;
  }
  img {
    filter: brightness(0) invert(1);
  }
}

// LEAVE A REVIEW ICON BUTTON
button.mantine-Button-root.leave-a-review-icon-button {
  background-color: $magenta;
  color: $white-elements;
  font-weight: bold;
  font-size: 1.1rem;
  width: 200px;
  height: 50px;
  padding: 0.2rem 1rem;
  border-radius: 0.8rem;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;

  &:hover {
    opacity: 0.95;
  }
  img {
    filter: brightness(0) invert(1);
  }
}

// REPURCHASE ICON BUTTON
button.mantine-Button-root.repurchase-icon-button {
  background-color: $red;
  color: $white-elements;
  font-weight: bold;
  font-size: 1.1rem;
  width: 200px;
  height: 50px;
  padding: 0.2rem 1rem;
  border-radius: 0.8rem;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;

  &:hover {
    opacity: 0.95;
  }
  img {
    filter: brightness(0) invert(1);
  }
}

// CONTINUE WITH FACEBOOK ICON BUTTON
button.mantine-Button-root.continue-with-facebook-icon-button {
  background-color: $white-elements;
  color: $black-main;
  font-weight: bold;
  font-size: 1.1rem;
  width: 300px;
  height: 50px;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  &:hover {
    opacity: 0.95;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
}

// CONTINUE WITH GOOGLE ICON BUTTON
button.mantine-Button-root.continue-with-google-icon-button {
  background-color: $white-elements;
  color: $black-main;
  font-weight: bold;
  font-size: 1.1rem;
  width: 300px;
  height: 50px;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  &:hover {
    opacity: 0.95;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
}

// CONTINUE WITH APPLE ICON BUTTON
button.mantine-Button-root.continue-with-apple-icon-button {
  background-color: $white-elements;
  color: $black-main;
  font-weight: bold;
  font-size: 1.1rem;
  width: 300px;
  height: 50px;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  &:hover {
    opacity: 0.95;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  }
}

// SEE MORE BUTTON
button.mantine-Button-root.see-more-button {
  background-color: transparent;
  color: $magenta;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: none;
  width: auto;
  height: auto;
  padding: 0.4rem 1rem;
  border: none;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;

  &:hover {
    opacity: 0.95;
  }
}
