@use "/src/sass/abstract/colors" as *;

.section-carousel {
  .carousel-container {
    position: relative;
  }

  .basket-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.section-two {
  background-color: #000; // Black background
  color: #fff; // White text for proper contrast
  text-align: left;
  padding: 1rem; // Adjust padding as needed

  h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}

.section-three {
  background-color: $white-background;
  color: $black-main;
  padding: 1rem;
  text-align: left;

  .everyday-formal {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .category {
      .category-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-size: 1.5rem;
          margin: 0;
        }
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

.section-four {
  background-color: $red; // Red background (make sure $red is defined in your colors file)
  color: $white-elements; // White text for general content
  text-align: left;
  padding: 1rem;

  .section-four-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
      font-size: 1.5rem;
    }

    // Override styles for See More button in section four
    button.mantine-Button-root.see-more-button {
      background-color: transparent;
      color: #000; // Black text color
      border: none; // Black border

      &:hover {
        opacity: 0.95;
      }
    }
  }

  p {
    font-size: 1rem;
  }
}
