.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
  width: 250px;

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  &__price {
    font-size: 1rem;
    font-weight: bold;
  }
}
