$red: #AC003E;
$red-heart: #D8004E;
$magenta: #AA1DA4;
$green: #00AC70;
$grey-background-elements: #2D2D2D; 
$white-background: #E5DFDF;
$white-elements: #FBFBFB;
$blue: #005BC3;
$black-review: #141414;
$black-main: #0B0B0B;