// Mixin for typography styles
@mixin font($size, $weight: "regular") {
    font-family: $font-family;
    font-size: map-get($font-sizes, $size);
    font-weight: map-get($font-weights, $weight);
  }
  