$font-family: 'Montserrat', sans-serif;

$font-sizes: (
  "icon-title": 14px,
  "card-title": 16px,
  "section-description": 17px,
  "brandsheet-title": 20px,
  "box-cat": 23px,
  "section-title": 25px,
  "top-title": 28px,
);

$font-weights: (
  "thin": 100,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "black": 900
);
